{
  "proxyPort": 25565,
  "proxyHost": "0.0.0.0",
  "minecraftPort": 25566,
  "minecraftHost": "127.0.0.1",
  "online-mode": false,
  "encryption": true,
  "kickTimeout": null,
  "motd": "A Minecraft Server",
  "max-players": 20,
  "onlineModeExceptions": {
    "notch": true
  }
}
